.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.item{
    margin: 10px;
    font-size: 20pt;
    color: crimson;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.title{
    font-size: 18pt;
    color: blueviolet;
}

.content{
    font-size: 16pt;
    color: black;
}

li{
    border: 1px solid;
    border-radius: 15px;
    padding: 20px;
}